// Header ================
.header {
    height: 350px;
    background: linear-gradient(45deg, rgb(121, 85, 72) 0%, rgb(121, 85, 72) 1%, rgb(204, 188, 188) 100%);
    background: #5A4039;
}

// Header end ============